{% extends 'base.html' %}


{% block head %}
<title>Home </title>
{% endblock %}

{% block body %}
   <br>
   <h1>Home</h1>
   <br>
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome to fxparoo programmer Blog</h1>
      <p>Welcome  to  Fxparoo Programmer Blog! Here we will be  talking about everything Computer Science.Basics, framesworks,Data science, Machine Learning,UI/UX.Any new tech or finding or anything computer science related. </p>
      <p>Go visit us at our Website. <a href="www.fxparoo.com">FxParoo Datalytics</a> to check out more cool stuff beyond just blogs.</p>
      <p>
        <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
      </p>
    </div>
  </div>
</main>
{% endblock %}